@model List<Bookish.DataAccess.Book>

@{
    ViewBag.Title = "Catalogue";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (TempData["Search"] == null) {
<h3>Current available books</h3>
}
else
{
    <h3>Books matching search:</h3>
}



<ul class="list-group">
@foreach (var item in Model)
{
    <a href=@String.Format("Copies/?ISBN={0}", item.ISBN)>
        <li class="list-group-item" style="border-bottom-width:2px">
            <img src="http://covers.openlibrary.org/b/isbn/@item.ISBN-S.jpg"/>
            @item.ISBN:
            <b>@item.Title</b> by
            @item.Author
        </li>
    </a>
}
</ul>


