@model List<Bookish.DataAccess.Book>

@{
    ViewBag.Title = "Catalogue";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@if (TempData["Search"] == null) {
<h3>Current available books</h3>
}
else
{
    <h3>Books matching search:</h3>
}



<ul>
@foreach (var item in Model)
{
    <a href=@String.Format("Copies/?ISBN={0}", item.ISBN)>
        <li>@item.ISBN:
            <b>@item.Title</b> by
            @item.Author</li>
    </a>
}
</ul>


