@model List<Bookish.DataAccess.Book>

@{
    ViewBag.Title = "Catalogue";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Current available books</p>


<ul>
@foreach (var item in Model)
{
    <a href=@String.Format("Copies/?ISBN={0}", item.ISBN)>
        <li>@item.ISBN:
            <b>@item.Title</b> by
            @item.Author</li>
    </a>
}
</ul>


