@model List<Bookish.DataAccess.BookCopy>

@{
    ViewBag.Title = ViewData["BookTitle"];
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Current available copies: 
    @{
        ViewBag.Copies = 0;
        foreach (var item in Model)
        {
            if (!item.Borrowed)
            {
                ViewBag.Copies++;
            }
        }
        <b>@ViewBag.Copies</b>
    }
</p>

@if (ViewBag.Copies < Model.Count)
{
    <b>Copies on loan:</b>
    <table class="table table-bordered table-responsive table-hover">
        <tr>
            <th>Loaned to user</th>
            <th>Due date</th>
        </tr>
        @foreach (var item in Model)
        {
            if (item.Borrowed)
            {
                <tr>
                    <td>@item.Loan.UserId</td>
                    <td>@item.Loan.DueDate</td>
                </tr>
            }
        }
    </table>
}
else
{
    <b>There are no copies on loan!</b>
}